/* For hide Arrows From Number Input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

section.log-in .container {
  height: 100%;
  display: flex;
  padding-top: 5.5rem;
  padding-bottom: 1.33rem;
}
section.log-in .container .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33.33rem;
}
section.log-in .container .content form {
  display: flex;
  flex-direction: column;
  height: 18rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 2rem;
  width: fit-content;
}
section.log-in .container .content form input {
  width: 26.66rem;
  height: 4rem;
  padding: 0 1rem;
  border-radius: 1.33rem;
  background-color: var(--black-color-1);
  font-size: 1.66rem;
  font-weight: bold;
  color: var(--box-main-coler);
  box-shadow: -0.33rem 0.4rem 0 var(--box-second-coler);
  margin-bottom: 1rem;
}
section.log-in .container .content form .submit {
  width: 13rem;
  height: 3.5rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  margin: 0 auto;
  color: var(--gold-color-2);
  cursor: pointer;
}
section.log-in .container .content form .submit:hover {
  transform: translate(-0.2rem, 0.36rem);
  box-shadow: -0.13rem 0.14rem var(--black-color-2) !important;
}
section.log-in .container .content .problem {
  font-size: 1.33rem;
  padding-right: 3.33rem;
  font-weight: 900;
}
section.log-in .container .content .problem .forgor {
  margin-right: 1.33rem;
  color: var(--text-second-coler);
  cursor: pointer;
}
section.log-in .container .content .problem .no-have {
  color: var(--text-main-coler);
}
section.log-in .container .content .problem .do-have {
  color: var(--text-second-coler);
  cursor: pointer;
}

section.log-in .container .content .foot {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.log-in .container .content .foot hr {
  position: relative;
  height: 0.5rem;
  width: Calc(100% + 3rem);
  background-color: var(--text-main-coler);
  border-radius: 0.5rem;
  left: 1.5rem;
  direction: ltr;
}
section.log-in .container .content .foot .title {
  direction: ltr;
  font-size: 2.66rem;
  font-weight: 400;
  font-family: "Harlow Solid Italic", sans-serif;
}
section.log-in .container .content .foot .made-by {
  display: flex;
  justify-content: space-between;
}
section.log-in .container .content .foot .made-by .one {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Harlow Solid Italic", sans-serif;
}
section.log-in .container .content .foot .made-by .one .ring {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 1rem auto;
  background-color: var(--black-color-1);
  border-radius: 2.66rem;
  border: 0.33rem solid var(--box-main-coler);
  outline: 0.133rem solid var(--gold-color-2);
}

/* Media */
@media (max-width: 550px) {
  .section-title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    left: 0;
    transform: none;
  }
  section.log-in .container .content {
    width: 100%;
  }
  section.log-in .container .content form {
    height: 45%;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
  }
  section.log-in .container .content form input {
    width: 80%;
    height: 5rem;
    font-size: 2.3rem;

    padding: 0 1rem;
    border-radius: 3rem;
    margin-bottom: 3rem;
  }
  section.log-in .container .content form .submit {
    width: 45%;
    border-radius: 1.8rem;
    margin: 0;
  }
  section.log-in .container .content .problem {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  section.log-in .container .content .foot {
    height: 30%;
    padding: 0 2rem;
  }
  section.log-in .container .content .foot .title {
    font-size: 3.5rem;
  }
  section.log-in .container .content .foot .made-by .one {
    font-size: 2.5rem;
  }
  section.log-in .container .content .foot .made-by .one .ring {
    width: 8rem;
    height: 8rem;
    border-radius: 5rem;
  }
}
